*{
  margin:0;
}

:root{
  --fb-blue:#2e81f4;
  --grey1:#8d8d8d;
  --grey2:#eff2f5;
  --grey3:#e4e4e4;
  --grey4:#444444;
  --white:#ffffff;
  --light-green:#effef5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
